nav {
  background-color: $text-color;
  overflow: hidden;
  display: flex;
  justify-content: center; // horizontal center
  align-items: center; // vertical center

  a {
    display: inline-block;
    color: $background-color;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    &:hover {
      background-color: $hover-color;
      color: $background-color;
    }
  }
}
