<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Portfolio</title>
    <link rel="stylesheet" href="/src/styles/main.css" />
</head>
<body>
    <header id="header"></header>

    <main>
        <section class="hero">
            <div class="hero-text">
                <h1 class="page-title">A Coding Club I Created</h1>
                <p>Why and how it came to be</p>
            </div>
            <section id="project-discordBot-why" class="main-panel"></section>
        </section>
    </main>

    <footer id="footer"></footer>
    <script type="module" src="/src/scripts/injectContent.js"></script>
</body>
</html>
