<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
</head>
<body>
    <header id="header">{{> header}}</header>

    <main>
        <section class="hero">
            <div class="hero-text">
                <h1 class="page-title">Hello, I'm Jack</h1>
                <p>Computer Science Student | Developer</p>
            </div>
            <section id="aboutme" class="main-panel">{{{md:about/aboutMe}}}</section>
        </section>

        <div class="scroll-wrapper">
            <button class="scroll-btn left" aria-label="Scroll left">‹</button>

            <h1 class="section-title">Have a look at some of my projects</h1>
            <div class="scroll-wrapper-inner">
                <div class="scrollable-container">
                    <div class="container-spacer"></div>

                    <section id="project-discordBot-blurb" class="img-panel">{{{partial:project-blurb id=discordBot}}}</section>
                    <section id="project-codingClub-blurb" class="img-panel">{{{partial:project-blurb id=codingClub}}}</section>

                    <div class="container-spacer"></div>
                </div>
            </div>

            <button class="scroll-btn right" aria-label="Scroll right">›</button>

            <nav id="nav-view-projects" class="page-nav page-nav--cta"><a href="/projects.html" class="button button--large" aria-label="Page navigation">View all projects →</a></nav>
        </div>
        <script src="/scripts/scrollWrapper.js"></script>

        <section id="skills" class="main-panel">{{{md:lists/skills}}}</section>
    </main>

    <footer id="footer">{{> footer}}</footer>
</body>
</html>
