<!DOCTYPE html>
<html lang="en">
<head>
    {{> head}}
</head>
<body>
    <header id="header">{{> header}}</header>

    <main>
        <section class="hero">
            <div class="hero-text">
                <h1 class="page-title">Coding Club Instructor</h1>
            </div>
            <section id="project-codingClub-overview" class="main-panel">{{{md:projects/codingClub/overview}}}</section>
        </section>

        <section id="project-codingClub-responsibilities" class="main-panel">{{{md:projects/codingClub/responsibilities}}}</section>
        <section id="project-codingClub-impact" class="main-panel">{{{md:projects/codingClub/impact}}}</section>
        <section id="project-codingClub-skills" class="main-panel">{{{md:projects/codingClub/skills}}}</section>

        <h1 class="section-title">Challenges In Detail</h1>
        <div class="scroll-wrapper">
            <button class="scroll-btn left" aria-label="Scroll left">‹</button>

            <div class="scrollable-container">
                <div class="scrollable-container-panel"></div>
                <div class="container-spacer"></div>

                <section id="project-codingClub-challenge1" class="main-panel">{{{md:projects/codingClub/challenges/1}}}</section>
                <section id="project-codingClub-challenge2" class="main-panel">{{{md:projects/codingClub/challenges/2}}}</section>
                <section id="project-codingClub-challenge3" class="main-panel">{{{md:projects/codingClub/challenges/3}}}</section>

                <div class="container-spacer"></div>
            </div>

            <button class="scroll-btn right" aria-label="Scroll right">›</button>
        </div>
        <script src="/scripts/scrollWrapper.js"></script>

        <section id="project-codingClub-technologies" class="main-panel">{{{md:projects/codingClub/technologies}}}</section>
        <nav id="nav-view-projects" class="page-nav page-nav--cta"><a href="/projects.html" class="button button--large" aria-label="Page navigation">View all projects →</a></nav>
    </main>

    <footer id="footer">{{> footer}}</footer>
</body>
</html>
