@mixin focus-ring {
  outline: none;
  box-shadow: 0 0 0 2px $color-surface, 0 0 0 4px $color-border-focus;
}

@mixin transition($props...) {
  $value: ();
  @each $p in $props {
    $value: append($value, $p $transition-normal, comma);
  }
  transition: $value;
}
