@import 'base/variables';
@import 'base/mixins';
@import 'components/buttons';
@import 'components/contactform';

// Import styles which apply to all pages
@import 'layout/header';
@import 'layout/navigation';
@import 'layout/footer';
@import 'layout/panels';
@import 'layout/containers';

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #7ad3e6;
  color: #333;
}

main {
  margin: 0 auto;
}

.page-title {
  padding: 2rem;
  text-align: center;
  margin: 0;
}

.section-title {
  text-align: center;
  margin: 0;
}

.hero {
  .hero-text {
    p, h1 {
      color: #f4f4f4;
      margin: 0;
    }
  }
  .main-panel {
      max-width: 600px;
  }
  text-align: center;
  background: linear-gradient(to top, #7ad3e6, #222 100%, #222);
}
