@import 'base/variables';
@import 'base/mixins';
@import 'components/buttons';
@import 'components/contactform';

// Import styles which apply to all layouts
@import 'layout/header';
@import 'layout/navigation';
@import 'layout/footer';
@import 'layout/panels';
@import 'layout/containers';

html {
  margin: 0;
  padding: 0;
  background-color: $secondary-color; //
  overflow-x: hidden; // prevents horizontal page scroll :)
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: $background-color;
  color: $text-dark-color;
}

main {
  margin: 0 auto;
}

.page-title {
  padding: 2rem;
  text-align: center;
  margin: 0;
}

.section-title {
  text-align: center;
  margin: 0;
}

.hero {
  .hero-text {
    p, h1, h2 {
      color: $text-light-color;
      margin: 0;
      text-align: center;
    }
  }
  .main-panel {
    max-width: 600px;
  }
  background: linear-gradient(to top, $background-color, $secondary-color 100%, $secondary-color);
}
