$primary-color: #007BFF;
$secondary-color: #ec7e37;

$button-color: #007BFF;
$button-hover-color: #ec7e37;

$background-color: #007BFF;
$background-panel-color: #7ad3e6;
$background-gradient-color: #bcbcbc;
$text-light-color: white;
$text-dark-color: black;
